$color-bg: #e8eaf3;
$color-nm-light: #ffffff;
$color-nm-dark: #c5c7cf;

$color-nm-light-off: #eef6fa;
$color-nm-dark-off: #b5bacf;
$color-nm-light-on: #90c3fa;
$color-nm-dark-on: #2e6cca;

$color-label: rgb(124, 124, 124);
